<div class="text-center" style="background-color: rgb(243, 143, 50);">
  <span class="text-white">WELCOME TO DATA-MANAGE</span>
</div>
<div class="mb-4 text-dark nav1">
  <span style="padding: 20px;"><a class="a" routerLink="/create" routerLinkActive="active-link" >Create Data</a></span>
  <span style="padding: 20px;"><a class="a" routerLink="/list" routerLinkActive="active-link">Data List</a></span>
  <span style="padding: 20px;"><a class="a" routerLink="/ag-grid" routerLinkActive="active-link">Ag-Grid-View</a></span>
  <span style="float: right; cursor: pointer; margin-right:5px;" class="text-white" (click)="location.back()">Back</span>
</div>
<div>
  <router-outlet></router-outlet>
</div>